@using System.Collections
@using System.Web.Mvc.Html
@using ErehwonMvc.Enums
@using ErehwonMvc.Helpers
@using ErehwonMvc.Models

@model ErehwonMvc.Models.Order
@{
    ViewBag.Title = "My Order";
}

<h2>My Current Order</h2>
@{
    var list = (List<Plot>)ViewData["MyOrderPlotList"];
    if (!list.Any())
    {
        <h2>You do not have any plots in your current order.</h2>
    }

    foreach (var plot in list)
     {
         @Html.Partial("~/Views/Order/OrderPlot.cshtml", plot);
     }
   
}


<h2>Order Total:</h2>
<h1>@(list.Sum(x => x.Price)) g</h1>

<button class="btn btn-success btn-lg" @((!list.Any()) ? "disabled" : "") onclick="location.href = '@Url.Action("Finalize", "Order", new { orderId = Model.Guid.ToString()})'">Complete Order</button>
<h2></h2>
<button class="btn btn-lg" onclick="location.href = '@Url.Action("Index", "Home")'">Continue Shopping</button>

